body {
  background: #FADDE1;
  text-align: center;
  nargin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}
.navcontainer nav {
  background: #C9184A;
  display: block;
}
.navcontainer ul {
  display: flex;
  list-style-type: none;
  text-align:center;
  flex-direction: row;
  justify-content: space-around;
  background-color: #C9184A;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.navcontainer li {
  margin: 2px;
  padding: 10px;
}
.navcontainer a {
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  text-transform: inherit;
  color: #000000;
  font-weight: 600;
  font-size: 1.25em;
}
.navcontainer a:hover {
  color: #000000
}
#title {
  font-family: 'Barlow Condensed', sans-serif;
  color: #000000;
  font-size: 2em;
  margin-block-end: 0em;
  color:#black;
}
p a{
  text-decoration: underline;
  font-weight: bold;
  font-style: normal;
  text-transform: inherit;
  color: black;
  font-weight: 600;
  font-size: 1em;
}
p a:hover {
  color: #C9184A;
}
h1, section {
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style-type: none;
}
li {
margin: 2px;
padding: 10px;
border: 1px dotted grey
}
a {
  text-decoration: none;
font-style: italic;
font-weight: bold;
text-transform: uppercase;
border: 1px solid white;
background-color: #EEEEEE
}
a:hover {
  color: green;
}
img {
  border: 0;
  outline: 0;
}
