body{
  background: lavender;
  text-align:center;
  font-family: 'Playfair Display', serif;
}
h1, section {
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style-type: none;
}
li {
margin: 2px;
padding: 10px;
border: 1px dotted grey
}
a {
  text-decoration: none;
font-style: italic;
font-weight: bold;
text-transform: uppercase;
border: 1px solid white;
background-color: #EEEEEE
}
a:hover {
  color: green;
}
img {
  border: 0;
  outline: 0;
}
