body{
  background: lavender;
  text-align:center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
font-style: italic;
font-weight: bold;
text-transform: uppercase;
border: 1px solid white;
background-color: #EEEEEE
}
